body{
    background-color: rgb(140, 211, 240);
    text-align: center ;
    padding: 20px;
}
table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}
th{
    background-color: rgb(200, 220, 240);
}